  <!-- Navbar--> 

  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">

      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
        
      </button>
  
      <div class="collapse navbar-collapse" id="collapse_target">
  
        <a class="navbar-brand" href="index.html#partcile">Blockaudit</a>
  
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#"> 
              Get Started
              <span class="caret"></span>
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdown_target">
              <a href="dapp.html" class="dropdown-item">Start the DAPP <i class="fas fa-file-code"></i></a>
              <a href="#installing" class="dropdown-item">Download Source Code <i class="fab fa-github"></i></a>
              <div class="dropdown-divider"></div>
              <a href="https://cardanodocs.com/introduction/" target="_blank" class="dropdown-item">Documentation <i class="fas fa-book"></i></a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#about"> About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#news"> News </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login"> Log In </a>
          </li>      
          <li class="nav-item">
            <a class="nav-link" href="/users/register"> Register </a>
          </li>      
          
        </ul>    
      </div>
      
      
    </nav>

  <!-- Cover -->
  <div class="align-items-center d-flex cover section-aquamarine py-5" style="background-image: url(&quot;assets/images/landing-page/background3.gif&quot;);">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center text-lg-left text-center">
          <h1 class="mb-0 mt-5 display-4">Blockaudit.io</h1>
          <p class="mb-5">Create a Decentralized Future</p>
        </div>
        <div class="dark-form col-lg-5 p-3">
        <div class="row">
        <div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}

        {{{body}}}
        </div>  
        </div>

        <form class="p-4 bg-light" method="post" action="/users/login">
          <h4 class="mb-4 text-center">Login To Your Account:</h4>
          <div class="form-group"> <label>User Name</label>
            <input type="text" class="form-control" name="username" placeholder="Enter Username">
          </div>
          <div class="form-group"> <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="********"> 
          </div>
          
            
            <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">Log In</button> 
        
          <p></p>
          <div align="center">Don't have an account? Register <a href="/users/register">here</a>.</div>
        </form>


        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer-landing-page">
      <div class="container py-5">
        <div class="row">
          <div id="footer_text_box" class="col-12 col-md"> <i class="fa fa-dot-circle-o fa-lg d-block pt-1"></i> <small class="d-block my-3 text-muted">© 2018</small> </div>
          <div id="footer_text_box" class="col-6 col-md">
            <h5><b>About</b></h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted" href="index.html#about">About Blockaudit.io</a>
              </li>
              <li>
                <a class="text-muted" href="index.html#daedalus">Daedalus Wallet</a>
              </li>
              <li>
                  <a class="text-muted" href="https://www.cardano.org./en/terms-of-use" target="_blank">Terms Of Use</a>
              </li>
                          
            </ul>
          </div>
          <div id="footer_text_box" class="col-6 col-md">
            <h5><b>Getting Started</b></h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted" href="index.html#investment_performance">Investment Performance</a>
              </li>
              <li>
                <a class="text-muted" href="index.html#land_ownership">Land Ownership</a>
              </li>
              <li>
                  <a class="text-muted" href="index.html#medical_records">Medical Records</a>
                </li>            
            </ul>
          </div>
          <div id="footer_text_box" class="col-6 col-md">
              <h5><b>Resources</b></h5>
              <ul class="list-unstyled text-small">
                <li>
                  <a class="text-muted" href="index.html#installing">Installing</a>
                </li>
                <li>
                  <a class="text-muted" href="index.html#custom_dapp">Custom DAPP</a>
                </li>
                <li>
                  <a class="text-muted" href="https://cardanodocs.com/technical/wallet/api" target="_blank">API</a>
                </li>
                <li>
                  <a class="text-muted" href="https://www.cardano.org/en/development" target="_blank">Cardano Resources</a>
                </li>            
              </ul>
            </div>
            <div id="footer_text_box" class="col-6 col-md">
                <h5><b>Community</b></h5>
                <ul class="list-unstyled text-small">
                  <li>
                    <a class="text-muted" href="index.html#news">News</a>
                  </li>
                  <li>
                    <a class="text-muted" href="#">GitHub</a>
                  </li>
                  <li>
                    <a class="text-muted" href="https://www.cardanofoundation.org/learn-more" target="_blank">Media</a>
                  </li>            
                </ul>
              </div>
        </div>
      </div>
  </footer>



